@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.header{
    min-height: 100vh;
    background-color: white;
}

.header__top{
    background-color: #ECEBEB;
    height: 90px;
}

.header__name{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 84px;
    font-size: 32px;
    user-select:none;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header__name a{
    color: #F35E1F !important;
    text-decoration: none;
}

.burger-menu {
    position: fixed;
    top: 25px;
    right: 84px;
    cursor: pointer;
    z-index: 998;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #B4AFAF;
    margin: 6px 0;
    transition: 0.4s;
}

/* Боковая панель */
.side-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Открытая панель */
.side-nav.open {
    width: 300px;
}


.side-nav .header {
    background-color: #ECEBEB;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position:relative;
}


.close-btn {
    font-size: 50px;
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: black;
}

.menu-panel{
    background-color: white;
    height: 100vh;
    position:absolute;
    top: 90px;
    width: 300px;
}


.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f15a24;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s;
    white-space: nowrap;
}

.menu-btn i {
    margin-right: 3px;
}

.menu-btn:hover {
    background-color: #d94d1a;
}


.header-img{
    width: 350px;
    margin-top: 60px;
    margin-left: 878px;
    margin-bottom: 100px;
}

.header__down{
    font-family: "Inter", sans-serif;
    position: relative;
}

.header-title1{
    color: #F35E1F;
    font-size: 48px;
    padding-top: 55px;
    padding-left: 150px;
    margin-right: 30px;
    float: left;
    font-weight:bold;
}

.header-line {
    width: 475px;
    height: 2px;
    background-color: #F35E1F;
    margin-left:150px;
    margin-top:10px;
    float:left;
  }

.header-title2{
    color: #F35E1F;
    font-size: 16px;
    padding-top: 10px;
    float: left;
    margin-left: 150px;
    margin-right: 200px;
    font-weight:bold;
}

.upload-button {
    background-color: #F35E1F; 
    color: white;
    border: none;
    border-radius: 15px; 
    width: 205px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 148px;
    float: left;
    position: absolute;
    top: 310px;
}

.upload-button:hover {
    background-color: #c65423; 
}

.checklist-button{
    background-color: #F35E1F; 
    color: white;
    border: none;
    border-radius: 15px; 
    width: 205px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 373px;
    float: left;
    position: absolute;
    top: 310px;

}

.checklist-button:hover {
    background-color: #c65423; 
}


.check__down{
    font-family: "Inter", sans-serif;
    position: relative;
}

.check-title1{
    color: #F35E1F;
    font-size: 48px;
    padding-top: 55px;
    padding-left: 145px;
    margin-right: 30px;
    float: left;
    font-weight:bold;
    position: absolute;
    top: 10px;
}

.magnifier{
    width: 30px;
    margin-right: 1000px;
    margin-left: 145px;
    position:absolute;
    top:135px;
}

.check-title2{
    color: #F35E1F;
    font-size: 32px;
    font-weight:bold;
    padding-left: 183px;
    padding-top: 130px;
    float:left;
}

.check-title3{
    color: #F35E1F;
    font-size: 16px;
    font-weight:bold;
    padding-top:180px;
    padding-left: 145px;
}

.check-img{
    width: 350px;
    position:absolute;
    top:40px;
    margin-left: 848px;
    margin-bottom: 100px;
}

.upload-box {
    width: 450px;
    height: 30px;
    border: 2px solid #F35E1F;
    display: flex;
    margin-left: 140px;
    margin-top: 20px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-align: center;
    color: #F35E1F;
    font-weight: bold;
    justify-content: center;
    position:relative;
}
.upload-box input {
    display: none;
}

.preview {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.file-name {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: black;
}

.calculator__down{
    font-family: "Inter", sans-serif;
    position: relative;
}

.calculator-title1{
    color: #F35E1F;
    font-size: 48px;
    padding-top: 55px;
    padding-left: 145px;
    margin-right: 30px;
    float: left;
    font-weight:bold;
    position: absolute;
}

.calculator-title2{
    color: #F35E1F;
    font-size: 16px;
    padding-top: 140px;
    float: left;
    margin-left: 145px;
    margin-right: 200px;
    font-weight:bold;
}

.icon-calc{
    width : 25px;
}

.icon-docs{
    width: 25px;
}

.icon-search{
    width: 25px;
}

.open-form-button{
    background-color: #F35E1F; 
    color: white;
    border: none;
    border-radius: 15px; 
    width: 205px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 145px;
    float: left;
    position: absolute;
    top: 210px;
}

.open-form-button:hover{
    background-color: #c65423; 
}

.calc-img{
    width: 350px;
    margin-top: 40px;
    margin-left: 810px;
    margin-bottom: 100px;
}

.articles__down{
    font-family: "Inter", sans-serif;
    position: relative;
}

.articles-title1{
    color: #F35E1F;
    font-size: 48px;
    padding-top: 55px;
    padding-left: 145px;
    margin-right: 30px;
    float: left;
    font-weight:bold;
    position: absolute;
}

.articles-title2{
    color: #F35E1F;
    font-size: 16px;
    padding-top: 130px;
    float: left;
    margin-left: 145px;
    margin-right: 200px;
    font-weight:bold;
}

.article-img{
    width: 250px;
    margin-left: 910px;
    margin-bottom: 100px;
    position:absolute;
    top:80px;    
}

.search-container {
    background-color: white;
    color:#F35E1F;
    padding-right: 100px;
    margin-top: 10px;
    float:left;
    display: flex;
    gap: 0;
  }
  
  #search-input {
    margin-top: 10px;
    font-size: 16px;
    color:#F35E1F;
    border:2px solid #F35E1F;
    margin-left: 140px;
    width: 300px;
    height: 30px;
  }
  
  #search-button {
    margin: 10px;
    margin-left: 0px;
    font-size: 16px;
    background-color: #F35E1F;
    color: white;
    height:30px;
    width:100px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  #search-button:hover {
    background-color: #c65423;
  }

  #list {
    width:40%;
    color: #F35E1F;
    font-size: 16px;
    padding-top: 20px;
    float: left;
    margin-left: 145px;
    margin-right: 200px;
    font-weight: bold;
  }
  
  #list li {
    margin-bottom: 10px;           
    list-style-type: disc;        
    list-style-position: inside;   
    color: #F35E1F;                
  }
  #list li a {
    color: #F35E1F;
    text-decoration: none;     
  }
  
  #list li a:hover {
    text-decoration: underline; 
  }
  


  
